*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Risque', cursive;
  border: 2px brown solid;
  background: linear-gradient(45deg,#e93b07, #0a759c, #ad3d68, #01ff88);
  background-size: 350% 350%;
  background-color:rgba(0,0,0,0.8);
  animation: change 15s ease-in-out infinite;
}

.wrapper {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(204, 197, 197);
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
}

.error {
  position: absolute;
  top: 58px;
  color:rgb(7, 3, 1);
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.1em;
  display: none;
  color: rgb(238, 230, 230);
}

.userInput {
  width: 50%;
  height: 3rem;
  border-radius: 30px;
  padding-left: 30px;
  font-size: 1.1rem;
  letter-spacing: 0.08rem;
  outline: none;
  border: 1px solid rgb(243, 243, 243);
  margin-left: 20px;
  background: inherit;
  background-color:rgba(0,0,0,0.05);
  color: rgb(235, 226, 226);

}

::placeholder {
  color:rgb(153, 153, 153);
  font-size: 1rem;
}

.button {
  height: 3rem;
  border: none;
  outline: none;
  background: none;
  color:rgb(202, 198, 198);
  cursor: pointer;
  padding-bottom: 0.7rem;
}

.button:hover {
  transform: scale(1.1);
}

i {
  padding: 15px 0 0 10px;
}

.display-container {
  width: 65vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  position: relative;
  border-radius: 2rem;
  background-color:rgba(0,0,0,0.05);
  box-shadow: 3px 3px 5px rgb(196, 103, 196),
            -3px -3px 5px rgb(110, 228, 202);
}

.toggle-container {
  position: absolute;
  top: 66%;
  left: 75%;
  display: inline-block;
  width: 55px;
  height: 30px;
  pointer-events: none;
}

.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;

}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgb(196, 106, 204);
  pointer-events: none;
}

.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 4px;
  top: 3px;
  background-color: rgb(20, 20, 20);
  transition: 0.3s all ease-in-out ;
  pointer-events: none;
}

input:checked + .slider {
  background-color: rgb(81, 168, 149);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.location {
  margin-top: 1.5rem;
  font-size: 6vh;
  text-shadow: 2px 2px rgb(54, 52, 52);
  text-transform: capitalize;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
}

.temperature {
  margin-top: 1rem;
  font-size: 6vh;
  text-shadow: 2px 2px rgb(54, 52, 52);
  font-family: 'Source Serif Pro', serif;
}

.celsius {
  display: block;
}

.fahrenheit {
  display: none;
}

.status {
  font-size: 1.5rem;
  font-family: 'Nanum Myeongjo', serif;
  text-shadow: 1px 1px rgb(54, 52, 52);
}

.details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90vh;
  height: 20vh;
  border-radius: 30px;
  background-color:rgba(0,0,0,0.05);
  box-shadow: 2px 2px 5px rgb(110, 228, 202),
            -2px -2px 5px rgb(196, 103, 196);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1.2em;
  color:rgb(212, 200, 200)
}
.inner {
  padding-bottom: 10px;
}


@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
